@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">National Wealth Bank of Australasia</h1>

    <div class="text-center">
        <img src="~/img/bank.jpg" alt="bank" />
    </div>
</div>

<hr />

<h3>Example links</h3>

<p>
    <a asp-controller="Login" asp-action="Login">Login link using Tag Helper</a>
</p>
<p>
    @Html.ActionLink("Login link using Html Helper", "Login", "Login")
</p>
