@model AdminApp.ViewModels.UserAccountViewModel
@{ 
    ViewData["Title"] = "User account";
}

<h2>Enter customer ID to block.</h2>
<p>Account will be automatically unblocked after 1 minute.</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                @Html.DropDownListFor(m => m.CustomerID, Model.Customers.Select(c => new SelectListItem
           {
               Value = c.CustomerId.ToString(),
               Text = $"{c.Name} --- {c.CustomerId}"
           }))
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lock" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
