@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Most Common Bank of Australasia</h1>
    <br />
    <h2>Welcome to Internet Banking Admin portal.</h2>
</div>